body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F2F2;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #A3C4BC;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
}

header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    font-size: 1em;
    color: #333;
}

main {
    background-color: #D8BFD8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #A3C4BC;
    border-radius: 4px;
    font-size: 1em;
    width: calc(100% - 24px);
}

input[type="button"],
input[type="reset"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="button"] {
    background-color: #74B9FF;
    color: #FFF;
}

input[type="reset"] {
    background-color: #E0B485;
    color: #FFF;
}

#saida {
    margin-top: 20px;
    padding: 10px;
    background-color: #F2D492;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #A3C4BC;
    color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
}
